@import "utils/cursors";

a {
  text-decoration: none;
}

.website-title {
  color: #fff;
  font-weight: 900;
  font-style: italic;
  //font-family: Arial;
  //-webkit-text-stroke: 1.5px #00600f;
  //letter-spacing: -2px;

  //color: #6abf69;
  padding-right: 15px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  -moz-box-shadow: -5px 5px 20px 5px #656565;
  -webkit-box-shadow: -5px 5px 20px 5px #656565;
  -o-box-shadow: -5px 5px 20px 5px #656565;
  box-shadow: -5px 5px 20px 5px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=224, Strength=20);
}

.social-twitter-color {
  color: #48A9E0;
}

